FLASK_SECRET_KEY=change-me
APP_FOLDER=quickadd-activate
APP_URL_PREFIX=
FLASK_DEBUG=false
PORT=5060

BRIGHTSPACE_BASE_URL=https://YOUR_BRIGHTSPACE_DOMAIN
BRIGHTSPACE_LP_API_VERSION=1.49
BRIGHTSPACE_TOKEN_URL=https://auth.brightspace.com/core/connect/token
CLIENT_ID=PASTE_OAUTH2_CLIENT_ID_HERE
KID=PASTE_OAUTH2_KEY_ID_HERE
SCOPES=core:*:* enrollment:*:* orgunit:*:* user:*:*
PRIVATE_KEY_FILE=keys/private.key

QUICKADD_DEPLOYMENT_ID=PASTE_QUICKADD_DEPLOYMENT_ID_HERE
ACTIVATE_COURSE_DEPLOYMENT_ID=PASTE_ACTIVATE_COURSE_DEPLOYMENT_ID_HERE
QUICKADD_ROLE_OPTIONS=121:Teaching Assistant,109:Instructor
